#module {
  padding: 50px;
}

body {
  background-color: #9c88ff;
}

div.flash {
  animation: flash .05s linear 0s 1;
}

@keyframes flash {
  0% {border-color: #ead5e6;}
  50% {border-color: rgb(75, 72, 72);}
  100% {border-color: #ead5e6;}

}

.drop-area {
  border: 2px solid #ead5e6;
  border-radius: 5px;
  width: 100px;
  height: 100px;
  font-family: sans-serif;
  margin: 50px 25px;
  padding: 20px;
  background-color: #ead5e6;
  float: left;
  transition: .1s;  
  text-align: center;
}

.drop-area.highlight {
  filter: brightness(90%);
}

.drop-area:hover {
  background: rgba(234, 213, 230, 0.8);
  border-color: rgba(234, 213, 230, 0.1);
}

.drop-area:hover label{
  visibility: visible;
  opacity: 1;
}
  
p {
  margin-top: 0;
}

.my-form {
  margin-bottom: 10px;
}

.button {
  color: rgb(160, 160, 160);
  font-size: 50px;
  cursor: pointer;
  margin: auto;
  display: inline-block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.1s linear;
}

.button:hover {
  color: rgba(255, 255, 255, 0.5);
}

div.select.drop-area  {
  background: rgba(234, 213, 230, 0.8);
  border-color: rgba(234, 213, 230, 0.1);
}

label.select {
  color: rgba(255, 255, 255);
  visibility: visible;
  opacity: 1;
}
label.select:hover {
  color: rgba(255, 255, 255);
  visibility: visible;
  opacity: 1;
}

#fileElem {
  display: none;
}
  